html {
    margin: 0;
    font-size: 16px;
}

body {
    background-color: black;
    text-align: center;
}

header {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
}

header h1{
    font-size: 3.125rem;
}

a {
    color: Aquamarine;
    font-size: 1rem;
}

.content {
    color: white;
    font-family: Verdana, sans-serif;
}

.content h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

.content p {
    color: gray;
    font-size: 1.3125rem;
}

.icon {
    padding-top: 1rem;
}

footer h3{
    font-family: Verdana, sans-serif;
    color: gray;
    text-align: right;
}